In [6]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical

In [11]:
import pandas as pd

#read in data using pandas
train_df = pd.read_csv('C:/Users/Md Jabir Rahman/Desktop/Academic/Deeplearning/hourly_wages_data.csv')

#check data has been read in properly
train_df.head()
print(train_df.wage_per_hour.max())

44.5

In [2]:
#create a dataframe with all training data except the target column
train_X = train_df.drop(columns=['wage_per_hour'])

#check that the target variable has been removed
train_X.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [3]:
#create a dataframe with only the target column
train_y = train_df[['wage_per_hour']]

#view dataframe
train_y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

In [4]:
from keras.models import Sequential
from keras.layers import Dense

#create model
model = Sequential()

#get number of columns in training data
n_cols = train_X.shape[1]

#add model layers
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

Using TensorFlow backend.
WARNING: Logging before flag parsing goes to stderr.
W0705 21:37:31.706696 10068 deprecation_wrapper.py:119] From C:\Users\Md Jabir Rahman\Anaconda3\envs\tensorflow_env\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0705 21:37:32.273434 10068 deprecation_wrapper.py:119] From C:\Users\Md Jabir Rahman\Anaconda3\envs\tensorflow_env\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0705 21:37:32.486151 10068 deprecation_wrapper.py:119] From C:\Users\Md Jabir Rahman\Anaconda3\envs\tensorflow_env\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [12]:
#compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss='mean_absolute_error')

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)

In [13]:
#train model
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 1ms/step - loss: 3.0111 - val_loss: 4.3379
Epoch 2/30
427/427 [==============================] - 0s 111us/step - loss: 2.9738 - val_loss: 4.4280
Epoch 3/30
427/427 [==============================] - 0s 64us/step - loss: 2.9408 - val_loss: 4.3210
Epoch 4/30
427/427 [==============================] - 0s 63us/step - loss: 2.9512 - val_loss: 4.2915
Epoch 5/30
427/427 [==============================] - 0s 85us/step - loss: 2.9161 - val_loss: 4.4725
Epoch 6/30
427/427 [==============================] - 0s 104us/step - loss: 2.9162 - val_loss: 4.3634
Epoch 7/30
427/427 [==============================] - 0s 85us/step - loss: 2.9022 - val_loss: 4.3653

In [15]:
#training a new model on the same data to show the effect of increasing model capacity

#create model
model_mc = Sequential()

#add model layers
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

#compile model using mse as a measure of model performance
model_mc.compile(optimizer='adam', loss='mean_absolute_error')

In [16]:
#train model
model_mc.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 1s 2ms/step - loss: 4.2636 - val_loss: 5.0988
Epoch 2/30
427/427 [==============================] - 0s 161us/step - loss: 3.1528 - val_loss: 4.3930
Epoch 3/30
427/427 [==============================] - 0s 137us/step - loss: 3.0716 - val_loss: 4.6058
Epoch 4/30
427/427 [==============================] - 0s 179us/step - loss: 3.0411 - val_loss: 4.3222
Epoch 5/30
427/427 [==============================] - 0s 146us/step - loss: 3.0090 - val_loss: 4.1347
Epoch 6/30
427/427 [==============================] - 0s 162us/step - loss: 3.1670 - val_loss: 4.1519
Epoch 7/30
427/427 [==============================] - 0s 144us/step - loss: 3.0234 - val_loss: 4.1651
Epoch 8/30
427/427 [==============================] - 0s 164us/step - loss: 2.9161 - val_loss: 4.3047